body{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.btn {
  margin-bottom: 20px;
}

.grid-container {
  border: 4px solid black;
}

.row {
  display: flex;
}

.grid-square {
  flex-grow: 1;
}